<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Framework Generator</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post" action="/register">
      <input type="email" name="email" placeholder="email" autofocus />
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
