.searchContainer {
  width: 100%;
  position: relative;
  .inputWrapper {
    .searchIcon {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
    }
    .searchInput {
      width: 100%;
      background: transparent;
      border-radius: 50px;
      outline: none;
      border: 1px solid #ccc;
      padding: 10px;
      padding-left: 30px;
      color: white;
    }
  }
}