@font-face {
  font-family: 'opensans-bold';
  src: url('/fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold-italic';
  src: url('/fonts/open_sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-extra-bold';
  src: url('/fonts/open_sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-extra-bold-italic';
  src: url('/fonts/open_sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-italic';
  src: url('/fonts/open_sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light';
  src: url('/fonts/open_sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-light-italic';
  src: url('/fonts/open_sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semi-bold';
  src: url('/fonts/open_sans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-semi-bold-italic';
  src: url('/fonts/open_sans/OpenSans-SemiboldItalc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}